.home-image {
    width: 100%; 
    height: auto;
    opacity: 0.5
}

.start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 130%);
    background-color: rgba(101, 85, 143, 1);
    color: white;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(101, 85, 143, 1);
    font-size: 60px;
    font-weight: 700;
}